.header_division_line {
    image-rendering: pixelated;
    background-image: url("/star-tile-full.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
    width: 100%;
    height: 20px ;
}

.header_subtitle {
    font-size:small ;
    color:#107b0e ;
}

.copyright_custom {
    font-size:xx-small ;
}

.post_image {
    width:95% ;
    font-size: 80% ;
    margin-left: auto;
    margin-right: auto;
}

 @media (max-width: 684px) {
    .post_image {
        width:100% ;
    }
 }

 figcaption a {
    color: var(--background);
 }