<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">
        <span>{{ $.Site.Copyright | safeHTML }}</span>
    {{ else }}
      <div class="copyright_custom">
        <span>© {{ now.Year }}</a></span>
    {{ end }}
      <span>:: <a> Theme originally made by <a href="https://github.com/panr" target="_blank">panr</a> and adapted by Stella S.T. Wong</span>
      </div>
  </div>
</footer>

{{ $menu := resources.Get "js/menu.js" | js.Build }}
{{ $cp := resources.Get "js/code.js" | js.Build }}

{{ $bundle := slice $menu $cp | resources.Concat "bundle.js" | resources.Minify }}

<script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
